In [12]:
import pandas as pd

In [19]:
df = pd.read_json("Day-4 -text-preprocessing.json", lines = True)

In [21]:
df.head()

,text,meta
0,Mohit Rao Niwadunge\n\t \t Email ID mohit.niwa...,{'source': 'E:\Resume Parser\resume parser\dat...
1,ABHAY RAJ SINGH\nBusiness Analyst \nPROFESSION...,{'source': 'E:\Resume Parser\resume parser\dat...
2,Abhilasha Shrivastava\nE-Mail abhilasha101@gma...,{'source': 'E:\Resume Parser\resume parser\dat...
3,.\nABHISHEK SINGH THAKUR\nUI UX DESIGNER \nH.N...,{'source': 'E:\Resume Parser\resume parser\dat...
4,"AMAN DAVID\n115-B Anand Nagar Gawali Palasia, ...",{'source': 'E:\Resume Parser\resume parser\dat...

In [ ]:
email= r'^[a-zA-Z_.-]+@\w+.\w{2,3}'
co_num =r''